<div class="admin-hero-bg h-40 p-8 text-white mb-2">

    <!-- 내부 컨테이너 (가운데 정렬 + 아래 정렬) -->
    <div class="max-w-7xl mx-auto h-full flex flex-col justify-end">

        <!-- 페이지 제목 -->
        <h2 class="text-3xl font-bold">{{pageTitle}}</h2>

        <!-- 페이지 설명 -->
        <p class="text-sm text-gray-200 mt-2">{{pageDescription}}</p>

    </div>
</div>
